body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    }

    .btn {
        background: violet;

    &:hover {background: blue;
    }

    navbar {
        overflow: hidden;
        background-color: #f2f2f2;
        position: fixed;
        top: 0;
        width: 100%;
       }
       navbar a {
        display: flex;
        color: black;
        justify-content: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
       }
       navbar a :hover {
        background: #f2f2f2;
        color: black;
       }