.resto {
	display: flex;
	flex-basis: 100%;
	flex-flow: column wrap;
	@extend %fondgris;
	height: auto;
}

.resto_vignette {
	width: 100%;
	height: auto;
	border-radius: 30px;
	background-color: white;
	}

.vignette_image {
border-radius: 30px;
	}

.resto img {
		display: flex;
		flex-flow: column wrap;
		width: 100%;
		height: auto;
		object-fit: cover;
		border-radius: 30px;
	}	
