.resto {
	display: flex;
	width: 100%;
	flex-flow: column wrap;
	@extend %fondgris;
	/*height: auto;*/
	margin-top: 50px;
}

.resto_vignette {
	display: flex;
	border-radius: 30px;
	background-color: white;
	flex-basis: 100%;
	margin: 25px;
	height: auto;
		& .description {	
		position: relative;
		color: black;
		h3,
		p {
			 margin: 10px;
		}
		 i {
			font-size: 33px;
			position: absolute;
			right: 15px;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}

<<<<<<< HEAD
=======
/*.vignette_image {
max-width: 100%;
height: auto;
object-fit: cover;
}

>>>>>>> P3#02
.resto img {
	display: flex;
		height: auto;
		width: 100%;
		object-fit: cover;
		border-radius: 30px 30px 0px 0px;
	}	

	/*vignette vertes nouveau */
.nouveau {
	position: relative; 
}

.nouveau::before {
	content:"Nouveau";
	position: absolute;
	height: 2rem;
	width: 5rem;
	background-color: $tertiary;
	color: green;
	display: grid;
	place-items: center;
	right: 1rem;
	top: 1rem;
}