footer {
	display: flex;
	flex-flow: column wrap;
	background-color: black;
	text-decoration: none;
	gap: 10px;
	padding-left: 15px;
}

footer p {
	font-family: "Shrikhand", cursive;
	color: white;
}
