
.fonctionnement {
    & ol {
        width: 100%;
        height: auto;
		gap: 5x;
		@media (max-width: 814px) {
			 dilay: flex;
		}
    }
   		& li  {	   
/*flex-flow: row wrap;*/
width: 100%;  
height: auto;
@extend %fondgris;
@extend %shadow2;
text-align: center;
font-size: 25px;
border-radius: 25px;
color: gray;
			&:hover {
				background-color: $secondary;
						& .fas {
						color: $primary;	
								} 
				
		}		
}	
/* les cercles violets des chiffres*/
	   .badge {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: $primary;
		border-radius: 50%;
		color: white;		
	}
}

