
.fonctionnement {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: center;
    	& ol {
			width: 100%;
			height: auto;
    }
   		& li  {	   
width: 100%;  
height: auto;
@extend %fondgris;
@extend %shadow2;
text-align: center;
/*font-size: auto;*/
border-radius: 25px;
color: gray;
			&:hover {
				background-color: $secondary;
						& .fas {
						color: $primary;	
								} 
				
		}		
}	

	   .list-group li {
		background-color: #fafafa;
		border-radius: 20px;
		color: gray;
		margin: 15px 0px 15px 0px;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		width: 97%;
		height: auto;
		gap: 20px;
		&:hover {
			cursor: pointer;
			background-color: rgb(230, 168, 230);
		}
	}
}


/* les cercles violets des chiffres*/
.badge {
	background-color: $primary;
	padding: 0.5rem;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	color: white;
	margin: 1rem 1rem 1rem -1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	/*font-size: auto;*/
}
