nav.navbar {
	display: flex;
	justify-content: center;
	align-items: center;
    & i.fas.fa-arrow-left {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	color: black;
	}
}

.navbar {
	display: flex;
	justify-content: center;
	@extend %shadow;
	font-family: "Shrikhand", cursive;
	text-align: center;
	padding: 5px;
	overflow: hidden;
	background-color: white;
	position: fixed;
	top: 0px;
	width: 100%;
	.navbar a {
		display: flex;
		color: black;
		justify-content: center;
		align-items: center;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 15px;
		.navbar a:hover {
			background: white;
			color: black;			
		}
	}
}

