/*@mixin heart {
    background-clip: border-box;
    -webkit-background-clip: text;
    opacity: 0;
    grid-area: 1/2;
    transition: 0.3s ease-in-out;
        &:hover.far {
        background-clip: content-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 1;
        grid-area: 1/2;
        transition: 0.3s ease-in-out;
            &:hover.fas {
            opacity: 1;
            grid-area: 1/2;
            background-clip: content-box;
            -webkit-background-clip: text;
            -webkit-animation-fill-color: transparent;
            transition: 0.3s ease-in-out;
            background-image: linear-gradient($secondary,$primary);
            cursor: pointer;
        }
    }
}*/
/* No CSS */
@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&family=Shrikhand&display=swap);
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  margin: 0;
  font-family: "Shrikhand", "cursive";
  font-size: 2.5rem;
}

header a {
  color: black;
}

body {
  margin: 0;
  font-family: "Roboto", "sans-serif";
}

main {
  padding: 100px 0px 20px 0px;
}

h1 {
  margin: 0 auto;
  font-family: "Shrikhand","cursive";
}

h2 {
  padding: 0 14px;
  margin: 15px;
  font-family: "Shrikhand","cursive";
}

h3 {
  margin: 15px;
}

h4 {
  padding: 0;
  margin: 0px 0px 0px 10px;
}

a {
  text-decoration: none;
  color: white;
  margin: 5px;
}

P {
  margin: 10px;
}

.fonctionnement li {
  -webkit-box-shadow: 5px 5px 10px -3px lightslategray;
          box-shadow: 5px 5px 10px -3px lightslategray;
}

.navbar, .menus_conteneur_global {
  -webkit-box-shadow: 0px 3px 3px lightgray;
          box-shadow: 0px 3px 3px lightgray;
}

main, .belleville, .fonctionnement li, .resto {
  background-color: #f2f2f2;
}

.banderole {
  background-color: lightgray;
}

@-webkit-keyframes tournicoti {
  from {
    -webkit-transform: rotate(-270deg);
            transform: rotate(-270deg);
  }
  to {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes tournicoti {
  from {
    -webkit-transform: rotate(-270deg);
            transform: rotate(-270deg);
  }
  to {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@-webkit-keyframes apparition {
  0% {
    -webkit-transform: translateY(-70%);
            transform: translateY(-70%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes apparition {
  0% {
    -webkit-transform: translateY(-70%);
            transform: translateY(-70%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes disparition {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes disparition {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Shrikhand", cursive;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  overflow: hidden;
  background-color: white;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1;
}

.navbar .navbar a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: black;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
  width: 100%;
}

.navbar .navbar a .navbar a:hover {
  background: white;
  color: black;
}

#fleche {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
}

.container_loader {
  position: fixed;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-color: #ff79da;
  height: 100vh;
  inset: 0;
  z-index: 1;
  opacity: 0.3;
  -webkit-animation: disparition 3s;
          animation: disparition 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.load {
  width: 30vh;
  height: 22.5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.load__bar {
  background-color: #99e2d0;
  height: 100%;
  width: 3vh;
  -webkit-animation: bars 1000ms;
          animation: bars 1000ms;
}

.load__bar--1 {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

.load__bar--2 {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}

.load__bar--3 {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}

.load__bar--4 {
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
}

.load__bar--5 {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}

.banderole {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: auto;
}

.belleville {
  width: 100%;
  text-align: center;
  height: auto;
  max-width: 100%;
}

.button {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background-image: linear-gradient(#ff79da, #9356dc);
  -webkit-box-shadow: 5px 5px 10px -3px darkgray;
          box-shadow: 5px 5px 10px -3px darkgray;
  border-radius: 35px;
  border: none;
  color: white;
  font-size: 17px;
  padding: 12px 16px;
  margin-bottom: 50px;
  cursor: pointer;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  white-space: nowrap;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.button:hover {
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
  -webkit-box-shadow: 7px 7px 12px -5px lightslategray;
          box-shadow: 7px 7px 12px -5px lightslategray;
}

.fonctionnement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fonctionnement ol {
  width: 100%;
  height: auto;
  /*@media (max-width: 814px) {
		}*/
}

.fonctionnement li {
  width: 100%;
  height: auto;
  text-align: center;
  font-size: auto;
  border-radius: 25px;
  color: gray;
}

.fonctionnement li:hover {
  background-color: #ff79da;
}

.fonctionnement li:hover .fas {
  color: #9356dc;
}

.fonctionnement .list-group li {
  background-color: #fafafa;
  border-radius: 20px;
  color: gray;
  margin: 15px 0px 15px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 97%;
  height: auto;
  gap: 20px;
}

.fonctionnement .list-group li:hover {
  cursor: pointer;
  background-color: #e6a8e6;
}

/* les cercles violets des chiffres*/
.badge {
  background-color: #9356dc;
  padding: 0.5rem;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  color: white;
  margin: 1rem 1rem 1rem -1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: auto;
}

.description .far {
  background-clip: border-box;
  -webkit-background-clip: text;
  opacity: 1;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: 1/2;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.description .far:hover.far {
  background-clip: content-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 1;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: 1/2;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.description .fas {
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 1;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: 1/2;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.description .fas:hover.fas {
  opacity: 1;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: 1/2;
  background-clip: content-box;
  -webkit-background-clip: text;
  -webkit-animation-fill-color: transparent;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background-image: linear-gradient(#ff79da, #9356dc);
  cursor: pointer;
}

.resto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  /*height: auto;*/
  margin-top: 50px;
}

.resto_vignette {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 30px;
  background-color: white;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin: 25px;
}

.resto_vignette .description {
  position: relative;
  color: black;
  /*min-height: 0; Fix Overflow iddues in css flex layouts*/
}

.resto_vignette .description h3,
.resto_vignette .description p {
  margin: 10px;
}

.resto_vignette .description i {
  font-size: 33px;
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

/*.vignette_image {
max-width: 100%;
height: auto;
object-fit: cover;
}*/
.resto img {
  height: auto;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px 30px 0px 0px;
}

/*vignette vertes nouveau */
.nouveau {
  position: relative;
}

.nouveau::before {
  content: "Nouveau";
  position: absolute;
  height: 2rem;
  width: 5rem;
  background-color: #99e2d0;
  color: green;
  display: -ms-grid;
  display: grid;
  place-items: center;
  right: 1rem;
  top: 1rem;
}

/*img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}*/
.titre_carte {
  position: relative;
  border: 2px solid palevioletred;
  border-radius: 20px 20px 0px 0px;
  margin-top: -14px;
  color: black;
  background-color: #f2f2f2;
}

.titre_carte i {
  font-size: 33px;
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.titre_carte .far {
  background-clip: border-box;
  -webkit-background-clip: text;
  opacity: 1;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: 1/2;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  /*background-clip: border-box;
    -webkit-background-clip: text;
    opacity: 1;
    grid-area: 1/2;
    transition: 0.3s ease-in-out;
        &:hover.far {
        background-clip: content-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 1;
        grid-area: 1/2;
        transition: 0.3s ease-in-out;
        cursor: pointer; 
        }*/
}

.titre_carte .far:hover.far {
  background-clip: content-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 1;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: 1/2;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.titre_carte .fas {
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 1;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: 1/2;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  /*background-clip: border-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 1;
        grid-area: 1/2;
        transition: 0.3s ease-in-out;
            &:hover.fas {
            opacity: 1;
            grid-area: 1/2;
            background-clip: content-box;
            -webkit-background-clip: text;
            -webkit-animation-fill-color: transparent;
            transition: 0.3s ease-in-out;
            background-image: linear-gradient($secondary,$primary);
            cursor: pointer;
        }*/
}

.titre_carte .fas:hover.fas {
  opacity: 1;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: 1/2;
  background-clip: content-box;
  -webkit-background-clip: text;
  -webkit-animation-fill-color: transparent;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background-image: linear-gradient(#ff79da, #9356dc);
  cursor: pointer;
}

.menus_conteneur_global {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid gray;
  border-radius: 20px;
  margin: 10px;
  background-color: white;
  height: auto;
  -webkit-animation: apparition 3s;
          animation: apparition 3s;
  overflow: hidden;
  cursor: pointer;
}

.menus_conteneur_global:hover .menus_check {
  margin-right: 0;
}

.menus_conteneur_global:hover i {
  -webkit-animation: tournicoti 1000ms ease-in-out;
          animation: tournicoti 1000ms ease-in-out;
}

.menus_conteneur_global.menus_details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid yellowgreen;
  overflow: hidden;
  height: auto;
  cursor: pointer;
  /*.menus_description {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            border: 2px solid violet;
            overflow: hidden;
            height: auto;*/
}

.menus_conteneur_global.menus_details .menus_check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #99e2d0;
  color: #99e2d0;
  margin-right: -41px;
  width: 40px;
  -webkit-transition: margin-right 1s;
  transition: margin-right 1s;
}

span.menus_prix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*border: 2px solid blue;*/
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-weight: bold;
  margin-left: auto;
  color: black;
  margin-right: 15px;
}

i.fas.fa-check {
  display: -ms-grid;
  display: grid;
  place-items: center;
  color: #99e2d0;
  background: white;
  background-color: white;
  width: 25px;
  margin: 0 auto;
  aspect-ratio: 1;
  border-radius: 50px;
  -webkit-transform: all;
          transform: all;
}

i.fas.fa-check:active > .tournicoti {
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-animation-name: tournicoti;
          animation-name: tournicoti;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
}

main.menus_restos {
  margin-top: -105px;
}

.bottom_page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom_page .button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  text-decoration: none;
  color: white;
  background-color: black;
}

footer h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-family: "Shrikhand", cursive;
  font-weight: 500;
  margin-left: 5px;
}

footer i {
  margin-right: 10px;
}

footer a {
  margin-left: 0px;
}

.menus_check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*border: 2px solid black;*/
  cursor: pointer;
  background-color: #99e2d0;
  color: #99e2d0;
  margin-right: -62px;
  width: 60px;
  -webkit-transition: margin-right 1s;
  transition: margin-right 1s;
  -webkit-transform: all 1s;
          transform: all 1s;
}

.menus_check:hover {
  margin-right: 0;
}

/*.tournicoti {
    transition-property: transform;
    transition-duration: 2s;
    transform: all;
    &:hover {
 transform: translate(-50px);
    }
}*/
img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

/*responvise vignettes desktop breakpoint 1440px*/
/*.section.resto {
    @media screen {
        
    }
}*/
/*.responsive {
    width: 100%;
    height: auto;
    max-width: 100%;
}*/
@media only screen and (min-width: 1440px) {
  .resto {
    border: solid 2px violet;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    height: auto;
    width: 100%;
    max-width: 100%;
  }
  .resto #resto_groupe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    height: auto;
    width: 100%;
    max-width: 100%;
    border: solid 2px blue;
  }
  .resto #resto_groupe img {
    width: 100%;
    height: 245px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

/*
Error: Inconsistent indentation: 1 space was used for indentation, but the rest of the document was indented using 2 spaces.
        on line 94 of ./style/style.css

89:   flex-basis: 100%;
90: }
91: 
92: 
93: .box {
94:  border: 2px solid grey;
95:  border-radius: 15px; 
96: }
97: 
98: footer {
99: background-color: black;

Backtrace:
./style/style.css:94
/usr/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/engine.rb:494:in `block in tabulate'
/usr/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/engine.rb:452:in `each'
/usr/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/engine.rb:452:in `each_with_index'
/usr/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/engine.rb:452:in `tabulate'
/usr/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/engine.rb:417:in `_to_tree'
/usr/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/usr/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/engine.rb:307:in `render_with_sourcemap'
/usr/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:387:in `run'
/usr/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:63:in `process_result'
/usr/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/exec/base.rb:50:in `parse'
/usr/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/exec/base.rb:18:in `parse!'
/usr/lib/ruby/gems/3.0.0/gems/sass-3.7.4/bin/sass:13:in `<top (required)>'
/usr/bin/sass:23:in `load'
/usr/bin/sass:23:in `<main>'
*/
/*# sourceMappingURL=style.css.map */