$colors: ( 
$primary: #9356DC,
$secondary: #FF79DA,
$tertiary: #99E2D0, 
);

%shadow {
  box-shadow: 0px 3px 3px lightgray;
}

%shadow2 {
  box-shadow: 5px 5px 10px -3px lightslategray;
}


%background {
      background-image: linear-gradient(to top,$primary, $secondary);
    }

%fondgris {
  background-color: #f2f2f2;
}

/*
Error: Inconsistent indentation: 1 space was used for indentation, but the rest of the document was indented using 2 spaces.
        on line 94 of ./style/style.css

89:   flex-basis: 100%;
90: }
91: 
92: 
93: .box {
94:  border: 2px solid grey;
95:  border-radius: 15px; 
96: }
97: 
98: footer {
99: background-color: black;

Backtrace:
./style/style.css:94
/usr/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/engine.rb:494:in `block in tabulate'
/usr/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/engine.rb:452:in `each'
/usr/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/engine.rb:452:in `each_with_index'
/usr/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/engine.rb:452:in `tabulate'
/usr/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/engine.rb:417:in `_to_tree'
/usr/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/usr/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/engine.rb:307:in `render_with_sourcemap'
/usr/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:387:in `run'
/usr/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:63:in `process_result'
/usr/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/exec/base.rb:50:in `parse'
/usr/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/exec/base.rb:18:in `parse!'
/usr/lib/ruby/gems/3.0.0/gems/sass-3.7.4/bin/sass:13:in `<top (required)>'
/usr/bin/sass:23:in `load'
/usr/bin/sass:23:in `<main>'
*/
body {
  white-space: pre;
  font-family: "Roboto", sans-serif;
  content: "Error: Inconsistent indentation: 1 space was used for indentation, but the rest of the document was indented using 2 spaces.\A         on line 94 of ./style/style.css\A \A 89:   flex-basis: 100%;\A 90: }\A 91: \A 92: \A 93: .box {\A 94:  border: 2px solid grey;\A 95:  border-radius: 15px; \A 96: }\A 97: \A 98: footer {\A 99: background-color: black;"; }

  .navbar {
    @extend %shadow;
    font-family: "Shrikhand", cursive;
    text-align: center;
    padding: 5px;
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0px;
    width: 100%;
      .navbar a {
        display: flex;
        color: black;
        justify-content: center;
        align-items: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 15px;
          .navbar a:hover {
              background: white;
              color: black;
           }
          }
        }

    body {
      margin: 0px;
      font-family: "Roboto", sans-serif;
      }
      
      main {
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      justify-content: center;
      gap: 16px;
      text-align: center;
      height: auto;
      }
      
      .banderole {
      @extend %fondgris;
      display: flex;
      /*flex-flow: column wrap;*/
      align-items: center;
      justify-content: center;
      gap: 0px 5px 0px 0px;
      height: auto;
      flex-basis: 100%;
      }
      

    .belleville {
    background-color:gray;  
    flex-basis: 100%;
    height: auto;
    font-weight: 900;
    }
        
      button .button {
      @extend %background;
      @extend %shadow2;
      border-radius: 35px;
      border: none;
      color: white;
      font-weight: bold;
      font-size: 50px;
      padding: 10px 15px;
      margin: 5px;
      }
      
      .fonctionnement {
      display: flex;
      flex-flow: column wrap;
      flex-basis: 95%;
      font-size: 30px;
      }
      
      .container.box {
      @extend %fondgris;
      display: flex;
      justify-content: center;
      align-content: space-between;
      flex-basis: 95%;
      font-size: 30px;
      margin: 15px;
      /*padding: 15px;*/
      height: auto;
      border: 2px solid grey;
      border-radius: 15px;
      }
             
    .resto {
      display: flex;
      flex-flow: column wrap;
      flex-basis: 95%;
      justify-content: space-between;
            .resto .box2 {
                display: flex;
                width: 95%;
                max-width: 250px;
                justify-content: space-between;
                    .resto img {
                      width: 95%;
                      height: auto;
                      max-width: 250px;
                      object-fit: cover;
                      border-radius: 20px;
                          /*.responsive {
                                width: 95%;
                                max-width: 200px;
                                height: auto;*/
                                }
                    }  
                  }
                }
/*main {
display: flex;
flex-flow: row wrap;
padding: 1px;
margin-top: 30px;
height: auto; 
flex-basis: 100%;
}*/
      
footer {
display: flex;
flex-flow: column wrap;
background-color: black;
color: white;
}
      
footer img {
color: white;
}