/*COULEURS */

/*primaire #9356DC*/
/*Secondaire #FF79DA*/
/*Tertiaire* #99E2D0*/ 

*,
  {
box-sizing: border-box;
}

header {
  font-family: "Shrikhand", cursive;
  text-align: center;
  box-shadow: 0px 3px 3px lightgray;
  padding: 50px;
}

body {
margin: 0px;
font-family: "Roboto", sans-serif;
}
.titres {
  font-family: "Shrikhand", cursive;
}

.navbar {
  overflow: hidden;
  background-color: #f2f2f2;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  display: flex;
  color: black;
  justify-content: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #f2f2f2;
  color: black;
}

main {
  display: flex;
  flex-flow: column wrap;
  padding: 16px;
  margin-top: 30px;
  height: 1500px; 
  flex-basis: 100%;
}

.box {
 border: 2px solid grey;
 border-radius: 15px; 
}

footer {
background-color: black;
color: white;
}
