/*COULEURS */

/*primaire #9356DC*/
/*Secondaire #FF79DA*/
/*Tertiaire* #99E2D0*/ 

*,
  {
box-sizing: border-box;
}

.navbar {
  font-family: "Shrikhand", cursive;
  text-align: center;
  box-shadow: 0px 3px 3px lightgray;
  padding: 5px;
}

body {
margin: 0px;
font-family: "Roboto", sans-serif;
}

main {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  gap: 16px;
  text-align: center;
  padding: 18px;
}

.belleville {
  flex-basis: 100%;
}

.banderole {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
background-color: #f2f2f2;
gap: 5px;
}

.belleville button {
border-radius: 35px;
box-shadow: 5px 5px 10px -3px lightslategray;
border: none;
color: white;
font-weight: bold;
font-size: 35px;
background-image: linear-gradient(to top,#9356DC,#FF79DA);
padding: 15px;
}

.fonctionnement {
  display: flex;
  flex-flow: column wrap;
  flex-basis: 95%;
}

.fonctionnement .box {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: flex-start;
  background-color: #f2f2f2;
  border-radius: 35px;
  flex-basis: 33%;
  font-size: 50px;
  margin: 15px;
  padding: 15px;
  height: auto;
}

.resto {
  display: flex;
  flex-flow: column wrap;
  flex-basis: 95%;
}

.resto img {
width: 40%;
height: 250px;
object-fit: cover;
border-radius: 20px;
}

.fa-heart {
  background-image: linear-gradient(to top,#9356DC,#FF79DA);
}

.navbar {
  overflow: hidden;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  display: flex;
  color: black;
  justify-content: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: white;
  color: black;
}

main {
  display: flex;
  flex-flow: row wrap;
  padding: 1px;
  margin-top: 30px;
  height: auto; 
  flex-basis: 100%;
}


.fonctionnement .box {
 border: 2px solid grey;
 border-radius: 15px; 
}

footer {
display: flex;
flex-flow: column wrap;
background-color: black;
color: white;
}

footer img {
  color: white;
}