.check {
    display: flex;
    justify-content: left;
    align-content: flex-end;
    align-items: flex-end;
}

.check_anim   {
    display: flex;
    justify-content: center;
    align-content: flex-end;
    align-items: center;
    background: white;
    color: $tertiary; 
    border-radius: 50px;
    overflow: hidden;
    &:hover { 
                justify-content: flex-end;
                border: 2px solid green;
                background: $tertiary;
                margin-left: auto;
                font-weight: 900;
                justify-content: center;
                cursor: pointer;
                margin-right: 50px ;  
        }
}

                    