.menus_check {
    display: flex;
    align-items: center;
    /*border: 2px solid black;*/
    cursor: pointer;
    background-color: $tertiary;
    color: $tertiary;
    margin-right: -62px;
    width: 60px;
    transition: margin-right 1s;
    transform: all 1s;
    &:hover {
        margin-right: 0;
    }
}

<<<<<<< HEAD
=======

>>>>>>> P3#02
