.far {
    color: black;
    background-clip: text;
    -webkit-background-clip: text;
    opacity: 1;
    background-image: linear-gradient(to right,$secondary,$primary);
    transition: all 200ms ease-in-out;
        &:hover .far {
    opacity: 2;
    transform: translateY(-50%) scale(1.2);
        }
    }