

/* mediaqueries desktop*/

@media only screen and (min-width: 1440px){
    .resto {
        border: solid 2px violet;
        display: flex;
        flex-flow: column wrap;
        height: auto;
        width: 100%;
        max-width: 100%;
        #resto_groupe {
            display: flex;
            flex-flow: row nowrap;
            height: auto;
            width: 100%;
            max-width: 100%;
            border: solid 2px blue;
            object-fit: fill;
            background-size: cover;
                img.responsive{
                    min-width: 300px;
                    max-width: 100%;
                    height: auto;
                    max-height: 200px;
                    object-fit: cover;
                }
        }
    }
}
/* mediaqueries smartphone*/


@media only screen and (min-width: 375px){
        img.responsive{
            min-width: 315px;
            max-width: 100%;
            height: auto;
            max-height: 210px;
            object-fit: cover;
    }
}

/* mediaqueries tablette*/

@media only screen and (min-width: 810px){
    img.responsive{
        min-width: 750px;
        max-width: 100%;
        height: auto;
        max-height: 500px;
        object-fit: cover;
}
}

