img {
    width: 100%;
    height: auto;
    object-fit: cover;
}


/*responvise vignettes desktop breakpoint 1440px*/
/*.section.resto {
    @media screen {
        
    }
}*/

.responsive {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}