
.container_loader {
    position: fixed;
    display: grid;
    place-items: center;
    background-color: $secondary;
    height: 100vh;
    inset: 0;
    z-index: 1;
    opacity: 0.3;
    animation: disparition 3s;
    animation-fill-mode: forwards;
}

@keyframes disparition {
    0% {
        transform:scale(1);
    }
    100% {
        transform: scale(0);
    }
}

.load {
    width: $size*10;
    height: $size*7.5;
    display: flex;
    justify-content: space-evenly;
    &__bar {
        background-color: $cd-bars;
        height: 100%;
        width: $size;
        animation: bars $anim-dur;
        @for $i from 1 through $num-bars {
            &--#{$i} {
                animation-delay: $anim-delay * $i;
             }
        }
    }
}